:root {
    --light-green: #99D98C;
    --keppel: #52B69A;
    --indigo-dye: #184E77;
    --c1: var(--light-green);
    --c2: var(--keppel);
    --c3: var(--indigo-dye);
    --main-font: 'Noto Sans', sans-serif;
    --body-font: 'Martel', serif;
    --handwritten-font: 'Shadows Into Light Two';
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
}

strong {
    font-weight: bolder;
}